{% extends 'layout/base.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
	{% endblock %}

{% block content %}
	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item" style="background-image: url({{highlight.url }});">
						<h1>{{ highlight.title }}</h1> 
					</div>
				</div>
			</div>

			<div class="thumbnail">
				<div class="columns is-marginless">
					{% for item in thumbnail %}

					<div class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url }});">
					{{ item.title }}
					</div> 
					{% endfor %}
				</div>
			</div>
		</section>
		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
					</div>
					<div class="columns is-multiline">
					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>
					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>

					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>
					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>

					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>
					 	<a href="#" class="column is-one-third">
					 		<div class="card">
					 			<div class="card-image">
					 				<figure class="image is-3by2">
					 					<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
					 				</figure>
					 </div>
					 <div class="card-content">
					 <h5 class="category">06/10/17</h5>
					 <h3 class="title is-spaced is-4">
					 	สวนธนคือแหล่งสราญ อดีตกาลนานชื่อระบือไกล เพลงนี้เป็นเพลงของ มจธ.
					 	</h3>
					 	<h4 class="subtitle is-6">
					 	Wannika Mint
					 	</h4>
					 	<p>
					 	Very Good baby I'm fine thanks.
					 	</p>
					 	</div>
					 	</div>
					 	</a>
					 	</div>
	</div>
</section>
</main>
{% endblock %}
