<!DOCTYPE html>
<html lang="en"> <!--lang บอกภาษา ภาษาหลักที่ใช้เป็นภาษาอังกฤษ-->
<head>
	<meta charset="UTF-8"> <!-- COMMENT กำหนดไว้เพื่อให้อ่านภาษาไทยได้ -->
	<title>CMM 19</title> <!-- COMMENTupper tab on website -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/main.css">
	{% block stylesheet %} {% endblock %}
</head>
<body>
	{% include 'layout/header.twig' ignore missing %}
	{% block content %}
	{% endblock %}

</body>
</html>
